body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

/* Navbar */
.navbar {
    transition: background 0.3s;
}

.navbar.scrolled {
    background: rgba(0, 0, 0, 0.8);
}

/* Hero Section */
.hero {
    height: 100vh;
    background: url('https://png.pngtree.com/thumb_back/fh260/background/20240329/pngtree-rows-of-dumbbells-in-the-gym-image_15662386.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero h1 {
    animation: fadeIn 2s ease-in-out;
}
.hero p {
    animation: fadeIn 3s ease-in-out;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}
